@if (shownBook) {
    <div *transloco="let t">
        @if (!compact) {
            <div class="flex flex-col">
                @if (coverUrl !== null) {
                    <img
                        [src]="coverUrl"
                        loading="lazy"
                        alt="cover-image"
                        class="h-[24rem] object-contain"
                    />
                }
                <mat-divider class="!mt-4"></mat-divider>
            </div>
            @if (shownBook.description) {
                <div class="mt-4">
                    <div [innerHTML]="shownBook.description" class="p-4"></div>
                    <mat-divider class="!mb-4 !mt-4"></mat-divider>
                </div>
            }
        }
        @if (compact) {
            @if (coverUrl !== null) {
                <img
                    [src]="coverUrl"
                    loading="lazy"
                    alt="cover-image"
                    class="float-left mb-2 mr-4 h-60 object-contain"
                />
            }
            @if (shownBook.description) {
                <div class="">
                    <div [innerHTML]="shownBook.description" class="pr-4"></div>
                </div>
            }
        }
        <div class="p-4" [ngClass]="compact ? '!p-0' : ''">
            @if (compact) {
                <p class="!m-0">
                    {{ t('book-details.title') }}
                    <span class="text-highlight">{{ shownBook.title }}</span>
                </p>
            }
            @if ($authorNames(); as authorNames) {
                <p [ngClass]="compact ? '!m-0' : ''">
                    {{ t('book-details.authors') }}
                    @for (author of authorNames; track author; let i = $index) {
                        <span>
                            <span class="text-highlight">{{ author }}</span>
                            @if (i !== authorNames.length - 1) {
                                <span>, </span>
                            }
                        </span>
                    }
                </p>
            }
            <p [ngClass]="compact ? '!m-0' : ''">
                {{ t('book-details.publisher') }}
                <span class="text-highlight">{{ $publisherName() }}</span>
            </p>
            @if (
                shownBook.publishedDate !== 'undefined' &&
                    shownBook.publishedDate;
                as publishedDate
            ) {
                <p [ngClass]="compact ? '!m-0' : ''">
                    {{ t('book-details.published') }}
                    <span class="text-highlight">{{
                        publishedDate | date
                    }}</span>
                </p>
            }
            @if (shownBook.pageCount || shownBook.printedPageCount) {
                <p [ngClass]="compact ? '!m-0' : ''">
                    {{ t('book-details.pages') }}
                    <span class="text-highlight">{{
                        shownBook.pageCount || shownBook.printedPageCount
                    }}</span>
                </p>
            }
            @if (shownBook.language) {
                <p [ngClass]="compact ? '!m-0' : ''">
                    {{ t('book-details.language') }}
                    <span class="text-highlight">{{
                        shownBook.language | language
                    }}</span>
                </p>
            }
            @if (shownBook.isbn) {
                <p [ngClass]="compact ? '!m-0' : ''">
                    {{ t('book-details.isbn') }}
                    <span class="text-highlight">{{
                        shownBook.isbn | isbn
                    }}</span>
                </p>
            }
            @if (!compact) {
                <app-update-book-ownership-button></app-update-book-ownership-button>
            }
        </div>
    </div>
}
