div.pcontainer {
    padding-left: 10%;
    padding-right: 10%;

    margin-top: 1rem;
}
.p-inputgroup p-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-inputgroup {
    margin-bottom: 1rem;
}

.buttons {
    button {
        margin-right: 1rem;
    }
}
