<app-header
    class="fixed z-50 w-full"
    (toggleSidenav)="toggleSidenav()"
></app-header>
<mat-drawer-container class="!flex min-h-screen w-full">
    @if ($isSidenavVisible()) {
        <mat-drawer
            [mode]="ui.smallScreen ? 'over' : 'side'"
            #sideNav
            [opened]="!ui.smallScreen"
            class="!fixed max-h-screen w-80"
        >
            <div class="flex h-full flex-col">
                <div class="mb-4 h-16"></div>
                <app-sidenav class="flex-grow"></app-sidenav>
            </div>
        </mat-drawer>
    }
    <mat-drawer
        [mode]="ui.smallScreen ? 'over' : 'side'"
        [opened]="$isInfoVisible()"
        class="!fixed max-h-screen w-full overflow-x-hidden md:w-[29rem]"
        position="end"
        (openedChange)="setInfoVisibility($event)"
    >
        <div class="flex h-full flex-col overflow-x-hidden">
            <app-book-details-side class="flex-grow"></app-book-details-side>
        </div>
    </mat-drawer>
    <mat-drawer-content
        class="!flex max-h-screen min-h-screen w-full flex-col pt-20"
        [ngClass]="{ '!ml-0': !$isSidenavVisible() }"
    >
        <div class="flex flex-grow pl-2 pr-2">
            <router-outlet></router-outlet>
        </div>
        <div class="mb-4 h-[6vh] min-h-[6vh] px-4">
            <app-footer class="h-full w-full"></app-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
