<app-header class="fixed z-50 w-full"></app-header>

<mat-drawer-container class="!flex min-h-screen w-full">
    <mat-drawer
        mode="side"
        [opened]="$isSidenavVisible()"
        class="!fixed max-h-screen w-80"
    >
        <div class="flex h-full flex-col">
            <div class="mb-4 h-16"></div>
            <app-sidenav class="flex-grow"></app-sidenav>
        </div>
    </mat-drawer>

    <mat-drawer
        mode="side"
        [opened]="$isInfoVisible()"
        class="!fixed max-h-screen w-[29rem] overflow-x-hidden"
        position="end"
    >
        <div class="flex h-full flex-col overflow-x-hidden">
            <app-book-details-side class="flex-grow"></app-book-details-side>
        </div>
    </mat-drawer>

    <mat-drawer-content class="!flex max-h-screen min-h-screen w-full flex-col">
        <div class="mb-20"></div>
        <div class="flex flex-grow pl-4 pr-4">
            <router-outlet></router-outlet>
        </div>
        <div class="mb-4 h-8"></div>
    </mat-drawer-content>
</mat-drawer-container>
