.groups {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
}

.toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        margin-right: 1rem;
    }
}
