<div *transloco="let t">
    <form [formGroup]="form" class="flex flex-col p-4">
        <mat-form-field color="accent">
            <mat-label>{{ t('login.email') }}</mat-label>
            <input matInput type="email" formControlName="email" required />
            @if (form.get('email')?.invalid) {
                <mat-error>{{
                    form.get('email')?.errors | formError
                }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>{{ t('login.username') }}</mat-label>
            <input matInput type="text" formControlName="username" required />
            @if (form.get('username')?.invalid) {
                <mat-error>{{
                    form.get('username')?.errors | formError
                }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>{{ t('login.password') }}</mat-label>
            <input
                matInput
                [type]="hide1 ? 'password' : 'text'"
                formControlName="password1"
                onkeypress="return event.keyCode != 13;"
                required
            />
            <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                <mat-icon>{{
                    hide1 ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            @if (form.get('password1')?.invalid) {
                <mat-error>{{
                    form.get('password1')?.errors | formError
                }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field color="accent" class="mb-0">
            <mat-label>{{ t('login.repeat-password') }}</mat-label>
            <input
                matInput
                [type]="hide2 ? 'password' : 'text'"
                formControlName="password2"
                onkeypress="return event.keyCode != 13;"
                required
            />
            <button mat-icon-button matSuffix (click)="hide2 = !hide2">
                <mat-icon>{{
                    hide2 ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            @if (form.get('password2')?.invalid) {
                <mat-error>{{
                    form.get('password2')?.errors | formError
                }}</mat-error>
            }
        </mat-form-field>
        @if ($legalEnabled()) {
            <mat-checkbox formControlName="tosAndPrivacy">
                <span
                    class="block max-w-sm"
                    [innerHTML]="
                        t('login.legal', {
                            tos: $tosUrl(),
                            privacy: $privacyUrl()
                        })
                    "
                ></span>
            </mat-checkbox>
            @if (
                form.get('tosAndPrivacy')?.invalid &&
                form.get('tosAndPrivacy')?.touched
            ) {
                <mat-error class="mb-2">{{
                    form.get('tosAndPrivacy')?.errors | formError
                }}</mat-error>
            } @else {
                <mat-hint class="mb-2"></mat-hint>
            }
        }
        @if ($recaptchaEnabled()) {
            <re-captcha
                [siteKey]="$recaptchaSiteKey()"
                size="invisible"
                (resolved)="onCaptchaResolved($event)"
                #recaptcha
            ></re-captcha>
            <app-captcha-disclaimer class="mb-2" />
        }
        <button
            mat-flat-button
            color="accent"
            class="mb-2"
            [disabled]="form.invalid || form.pristine || $signUpDisabled()"
            (click)="onSubmit()"
        >
            {{ t('login.signup') }}
        </button>
    </form>
</div>
