<div *transloco="let t">
    <form [formGroup]="form" class="flex flex-col p-4">
        <mat-form-field color="accent">
            <mat-label>{{ t('login.email') }}</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="form.get('email')?.invalid">{{
                form.get('email')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>{{ t('login.username') }}</mat-label>
            <input matInput type="text" formControlName="username" required />
            <mat-error *ngIf="form.get('username')?.invalid">{{
                form.get('username')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>{{ t('login.password') }}</mat-label>
            <input
                matInput
                type="password"
                formControlName="password1"
                required
            />
            <mat-error *ngIf="form.get('password1')?.invalid">{{
                form.get('password1')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>{{ t('login.repeat-password') }}</mat-label>
            <input
                matInput
                type="password"
                formControlName="password2"
                required
            />
            <mat-error *ngIf="form.get('password2')?.invalid">{{
                form.get('password2')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <button
            mat-flat-button
            color="accent"
            class="mb-2"
            [disabled]="form.invalid"
        >
            {{ t('login.signup') }}
        </button>
    </form>
</div>
