<ng-container *transloco="let t">
    @if ($currentUser()?.id === $currentOwnerId()) {
        <button
            mat-fab
            extended
            [disabled]="$ownershipChangeLoading()"
            [color]="$ownsSelectedBook() ? 'warn' : 'primary'"
            class="mat-elevation-z1 !w-full"
            (click)="updateOwnership()"
        >
            <mat-icon>{{
                $ownsSelectedBook() ? 'delete_forever' : 'add'
            }}</mat-icon>
            {{
                t(
                    $ownsSelectedBook()
                        ? 'collection.remove-book-text'
                        : 'collection.add-book-text'
                )
            }}
        </button>
    }
</ng-container>
