<div class="flex h-full max-h-full flex-col overflow-hidden" *transloco="let t">
    <form
        [formGroup]="form"
        class="flex max-h-[73vh] flex-col overflow-y-hidden p-4"
    >
        <mat-form-field class="mb-0" color="accent">
            <mat-label>{{ t('collection.filter') }}</mat-label>
            <input matInput type="text" formControlName="searchText" />
            @if (form.get('searchText')?.invalid) {
                <mat-error>{{
                    form.get('searchText')?.errors | formError
                }}</mat-error>
            }
        </mat-form-field>

        <app-chip-filter
            [label]="t('collection.author')"
            [placeholder]="t('collection.add-author')"
            [items]="$authorNames() || []"
            (itemsChange)="setAuthorFilter($event)"
        ></app-chip-filter>

        <app-chip-filter
            [label]="t('collection.publisher')"
            [placeholder]="t('collection.add-publisher')"
            [items]="$publisherNames() || []"
            (itemsChange)="setPublisherFilter($event)"
        ></app-chip-filter>

        <app-chip-filter
            [label]="t('collection.language')"
            [placeholder]="t('collection.add-language')"
            [items]="$languageNames() || []"
            (itemsChange)="setLanguageFilter($event)"
        ></app-chip-filter>
    </form>
    <div class="flex-grow"></div>
    @if ($currentUser()?.id === $currentOwnerId()) {
        <mat-divider></mat-divider>
        <div class="p-4">
            <button
                mat-fab
                extended
                color="primary"
                class="!w-full"
                (click)="openAddBookDialog()"
            >
                <mat-icon>add</mat-icon>
                {{ t('collection.add-book') }}
            </button>
        </div>
    }
</div>
