<div class="flex h-full flex-grow flex-col" *transloco="let t">
    <form [formGroup]="form" class="flex flex-col p-4">
        <mat-form-field color="accent">
            <mat-label>{{ t('collection.filter') }}</mat-label>
            <input matInput type="text" formControlName="searchText" />
            @if (form.get('searchText')?.invalid) {
                <mat-error>{{
                    form.get('searchText')?.errors | formError
                }}</mat-error>
            }
        </mat-form-field>
    </form>
    <div class="flex-grow"></div>
    @if ($currentUser()?.id === $currentOwnerId()) {
        <mat-divider></mat-divider>
        <div class="p-4">
            <button
                mat-fab
                extended
                color="primary"
                class="!w-full"
                (click)="openAddBookDialog()"
            >
                <mat-icon>add</mat-icon>
                {{ t('collection.add-book') }}
            </button>
        </div>
    }
</div>
