<header *transloco="let t">
    <mat-toolbar color="primary">
        @if ($isSidenavVisible()) {
            <button mat-icon-button (click)="toggleSidenav.emit()">
                <mat-icon>menu</mat-icon>
            </button>
        }
        <a routerLink="/" class="select-none">{{ t('app.name') }}</a>
        <span class="flex-grow"></span>
        @if ($user()) {
            <app-user-display></app-user-display>
        } @else if ($legalEnabled()) {
            <a [href]="$tosUrl()" class="select-none">{{ t('login.tos') }}</a>
            <span class="mx-2">|</span>
            <a [href]="$privacyUrl()" class="select-none">{{
                t('login.privacy')
            }}</a>
        }
    </mat-toolbar>
</header>
