<header *transloco="let t">
    <p>
        <mat-toolbar color="primary">
            <button mat-icon-button>
                <i class="fa-solid fa-bars"></i>
            </button>
            <span>{{ t('app.name') }}</span>
            <span class="flex-grow"></span>
            <button mat-icon-button>
                <i class="fa-solid fa-heart"></i>
            </button>
            <button mat-icon-button>
                <i class="fa-solid fa-share"></i>
            </button>
        </mat-toolbar>
    </p>
</header>
