<mat-card *transloco="let t">
    <mat-card-header>
        <mat-card-title>{{ t('login.signup') }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-signup-form></app-signup-form>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar
            mode="indeterminate"
            class="rounded-xl"
            *ngIf="$signUpInProgress(); else filler"
        ></mat-progress-bar>
        <ng-template #filler><div class="mb-1"></div></ng-template>
    </mat-card-footer>
</mat-card>
