<ng-container *transloco="let t">
    <h2 mat-dialog-title>{{ t('add-book-dialog.title') }}</h2>
    <mat-dialog-content class="mat-typography !overflow-hidden">
        <form
            [formGroup]="form"
            class="flex w-full flex-row items-baseline gap-4 p-4 pb-0"
        >
            <mat-form-field color="accent" class="grow">
                <mat-label>{{ t('add-book-dialog.isbn') }}</mat-label>
                <input matInput type="text" formControlName="isbn" />
                @if (form.get('isbn')?.invalid) {
                    <mat-error>{{
                        form.get('isbn')?.errors | formError
                    }}</mat-error>
                }
            </mat-form-field>
            <button
                mat-flat-button
                color="primary"
                [disabled]="form.pristine || form.invalid || $searchLoading()"
                (click)="search()"
            >
                {{ t('add-book-dialog.search') }}
            </button>
        </form>
        @if ($searchResult(); as book) {
            <app-book-details
                [compact]="true"
                class="inline-block max-h-[45vh] w-full overflow-scroll overflow-x-hidden"
                [displayBook]="book"
            ></app-book-details>
        } @else {
            <div class="flex items-center">
                <span class="mr-2 block h-0 flex-grow border"></span>
                <span class="block">{{ t('add-book-dialog.app') }}</span>
                <span class="ml-2 block h-0 flex-grow border"></span>
            </div>
            <div class="mt-4 flex justify-center">
                <a href="https://cdev.nexus" target="_blank">
                    <img
                        src="assets/icon/google-play-badge-full.png"
                        class="w-52"
                        alt="Google Play Badge"
                    />
                </a>
            </div>
        }
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div
            [matTooltip]="
                $currentCollection()?.includes($searchResult()?.isbn ?? '')
                    ? t('add-book-dialog.already-in-collection')
                    : ''
            "
        >
            <button
                mat-flat-button
                color="primary"
                class="mr-4"
                [disabled]="
                    $searchLoading() ||
                    !$searchResult() ||
                    $ownershipChangeLoading() ||
                    $currentCollection()?.includes($searchResult()?.isbn ?? '')
                "
                (click)="addBook()"
            >
                {{ t('add-book-dialog.add') }}
            </button>
        </div>
        <button mat-button mat-dialog-close>
            {{ t('add-book-dialog.close') }}
        </button>
    </mat-dialog-actions>
    @if ($searchLoading()) {
        <mat-progress-bar
            mode="indeterminate"
            class="rounded-xl"
        ></mat-progress-bar>
    } @else {
        <div class="mb-1"></div>
    }
</ng-container>
