<div *transloco="let t">
    <ng-container *ngIf="!text">
        <form
            [formGroup]="requestForm"
            class="flex flex-col p-4"
            *ngIf="request"
        >
            <mat-form-field color="accent">
                <mat-label>{{ t('login.email') }}</mat-label>
                <input matInput type="email" formControlName="email" required />
                <mat-error *ngIf="requestForm.get('email')?.invalid">{{
                    requestForm.get('email')?.errors | formError
                }}</mat-error>
            </mat-form-field>

            <button
                mat-flat-button
                color="primary"
                class="mb-2"
                [disabled]="
                    requestForm.invalid ||
                    requestForm.pristine ||
                    $requestInProgress()
                "
                (click)="submitRequest()"
            >
                {{ t('reset-password.request') }}
            </button>
        </form>
        <form [formGroup]="resetForm" class="flex flex-col p-4" *ngIf="reset">
            <mat-form-field color="accent">
                <mat-label>{{ t('login.password') }}</mat-label>
                <input
                    matInput
                    [type]="hide1 ? 'password' : 'text'"
                    formControlName="password1"
                    required
                />
                <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                    <mat-icon>{{
                        hide1 ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                </button>
                <mat-error *ngIf="resetForm.get('password1')?.invalid">{{
                    resetForm.get('password1')?.errors | formError
                }}</mat-error>
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>{{ t('login.repeat-password') }}</mat-label>
                <input
                    matInput
                    [type]="hide2 ? 'password' : 'text'"
                    formControlName="password2"
                    required
                />
                <button mat-icon-button matSuffix (click)="hide2 = !hide2">
                    <mat-icon>{{
                        hide2 ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                </button>
                <mat-error *ngIf="resetForm.get('password2')?.invalid">{{
                    resetForm.get('password2')?.errors | formError
                }}</mat-error>
            </mat-form-field>

            <button
                mat-flat-button
                color="primary"
                class="mb-2"
                [disabled]="
                    resetForm.invalid ||
                    resetForm.pristine ||
                    $requestInProgress()
                "
                (click)="submitReset()"
            >
                {{ t('reset-password.reset') }}
            </button>
        </form>
    </ng-container>
    <ng-container *ngIf="text">
        <div class="flex flex-col p-4">
            <p>{{ text }}</p>
        </div>
    </ng-container>
    <div class="flex flex-col p-4 pt-0">
        <button mat-flat-button color="accent" routerLink="/login">
            {{ t('reset-password.back-to-login') }}
        </button>
    </div>
</div>
