<div *transloco="let t">
    <form [formGroup]="form" class="flex flex-col p-4">
        <mat-form-field color="accent">
            <mat-label>{{ t('new-password.form.current') }}</mat-label>
            <input
                matInput
                [type]="hide3 ? 'password' : 'text'"
                formControlName="currentPassword"
                required
            />
            <button mat-icon-button matSuffix (click)="hide3 = !hide3">
                <mat-icon>{{
                    hide3 ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('currentPassword')?.invalid">{{
                form.get('password1')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>{{ t('new-password.form.new') }}</mat-label>
            <input
                matInput
                [type]="hide1 ? 'password' : 'text'"
                formControlName="password1"
                required
            />
            <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                <mat-icon>{{
                    hide1 ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password1')?.invalid">{{
                form.get('password1')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>{{ t('new-password.form.new-repeat') }}</mat-label>
            <input
                matInput
                [type]="hide2 ? 'password' : 'text'"
                formControlName="password2"
                required
            />
            <button mat-icon-button matSuffix (click)="hide2 = !hide2">
                <mat-icon>{{
                    hide2 ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password2')?.invalid">{{
                form.get('password2')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <button
            mat-flat-button
            color="accent"
            class="mb-2"
            [disabled]="form.invalid"
            (click)="submit()"
        >
            {{ t('new-password.submit') }}
        </button>
    </form>
</div>
