<div *transloco="let t" class="h-full">
    <form [formGroup]="form" class="flex h-full flex-col p-4">
        <mat-form-field color="accent">
            <mat-label>{{ t('login.email') }}</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="form.get('email')?.invalid">{{
                form.get('email')?.errors | formError
            }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>{{ t('login.password') }}</mat-label>
            <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                required
            />
            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{
                    hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password')?.invalid">{{
                form.get('password')?.errors | formError
            }}</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="rememberMe">{{
            t('login.rememberMe')
        }}</mat-checkbox>
        <span class="flex-grow"></span>
        <button
            mat-flat-button
            color="accent"
            class="mb-2"
            (click)="submit()"
            [disabled]="$signInDisabled() || form.invalid || form.pristine"
        >
            {{ t('login.login') }}
        </button>
        <button mat-flat-button routerLink="/reset-password">
            {{ t('login.forgot') }}
        </button>
    </form>
</div>
