@if ($groupedBooks(); as groupedBooks) {
    @if (groupedBooks.length) {
        <cdk-virtual-scroll-viewport
            appendOnly
            class="h-full w-full"
            itemSize="200"
        >
            <div>
                <div class="mt-2"></div>
                <app-book-group
                    *cdkVirtualFor="
                        let group of groupedBooks;
                        trackBy: trackById;
                        let first = first
                    "
                    [groupId]="group.key"
                    [books]="group.value"
                    class="w-full"
                />

                <div class="mb-2 h-[6vh] min-h-[6vh] px-4">
                    <app-footer class="h-full w-full"></app-footer>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    } @else if ($loadingCollection()) {
        <div
            *transloco="let t"
            class="flex h-full w-full items-center justify-center"
        >
            <mat-spinner
                [diameter]="50"
                [strokeWidth]="5"
                [color]="'accent'"
            ></mat-spinner>
        </div>
    } @else {
        <div
            *transloco="let t"
            class="flex h-full w-full items-center justify-center"
        >
            <span class="text-4xl">
                {{
                    $currentCollection()?.length
                        ? t('home.noMatchFilter')
                        : t('home.noBooks')
                }}
            </span>
        </div>
    }
}
