<ng-container *transloco="let t">
    <div class="flex h-full flex-col">
        @if ($pageTitle(); as pageTitle) {
            <h1 class="!mb-0 p-4 pb-0">
                {{ t(pageTitle) }}
                <app-report-button></app-report-button>
            </h1>
        }
        @if ($pageSubtitle(); as pageSubtitle) {
            <h2 class="pb-4 pl-8 pt-0 !text-sm">
                {{ t(pageSubtitle) }}
            </h2>
        } @else {
            <h2 class="pb-4 pl-8 pt-0"></h2>
        }
        <mat-divider></mat-divider>
        @if ($sideNavMode() === 'collection') {
            <app-collection class="flex-grow"></app-collection>
        }
        @if ($sideNavMode() === 'account') {
            <app-account class="flex-grow"></app-account>
        }
    </div>
</ng-container>
