$width: 8rem;

.container {
    cursor: pointer;

    margin: 0.5rem;
    margin-top: 0;

    width: $width;

    .p-card {
        max-height: 15rem;
        background-color: var(--surface-d) !important;

        .p-card-body,
        .p-card-content {
            padding: 0.2rem;
        }
    }

    img {
        width: 100%;
        max-height: 10rem;
        object-fit: contain;
    }

    div {
        &.title {
            font-size: 0.8rem;
        }
    }
}

.sidebar-content {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
        color: var(--primary-300);
    }

    div {
        &.isbn {
            color: var(--indigo-400);
        }

        &.author {
            color: var(--green-500);
        }
    }
}
