<div
    class="m-1 flex h-40 w-28 cursor-pointer flex-col rounded-md bg-tertiary p-1 pb-0.5 transition duration-100 sm:h-48 sm:w-32 sm:p-2 md:h-52 md:w-36"
    [ngClass]="{
        '!bg-accent': $selectedBook()?.isbn === book.isbn
    }"
    *transloco="let t"
    (click)="openInfo(); scroll(card)"
    [attr.id]="'book-' + book.isbn"
    #card
>
    <div class="absolute h-40 w-28 sm:h-48 sm:w-32 md:h-52 md:w-36">
        <div class="mr-4 flex justify-end p-1 opacity-70">
            @if (showFlags) {
                <div
                    class="flex flex-col"
                    [matMenuTriggerFor]="menu"
                    (click)="$event.stopPropagation()"
                >
                    <mat-icon
                        class="m-0.5 !inline-table rounded-full bg-secondary p-0.5"
                        >more_vert</mat-icon
                    >
                    @if (book.noGroup) {
                        <mat-icon
                            class="m-0.5 !inline-table rounded-full bg-secondary p-0.5"
                            [matTooltip]="t('book.noGroup')"
                            >horizontal_split</mat-icon
                        >
                    }

                    @if (book.hidden) {
                        <mat-icon
                            class="m-0.5 !inline-table rounded-full bg-secondary p-0.5"
                            [matTooltip]="t('book.hidden')"
                            >visibility_off</mat-icon
                        >
                    }
                </div>
            }
        </div>
    </div>
    <div class="flex-grow">
        @if (coverUrl !== null) {
            <div
                class="mb-2 h-full bg-contain bg-center bg-no-repeat"
                [lazyLoad]="coverUrl!"
            ></div>
        } @else {
            <app-no-image-placeholder class="h-full object-contain">{{
                t('books.no-cover')
            }}</app-no-image-placeholder>
        }
    </div>
    <div class="flex-grow-0">
        <p class="!m-0 text-xs">
            {{ book.title }}
        </p>
    </div>

    <mat-menu #menu="matMenu">
        @if (book.hidden) {
            <button mat-menu-item (click)="setVisible(true)">
                <mat-icon>visibility</mat-icon>
                <span>{{ t('book.unhide') }}</span>
            </button>
        } @else {
            <button mat-menu-item (click)="setVisible(false)">
                <mat-icon>visibility_off</mat-icon>
                <span>{{ t('book.hide') }}</span>
            </button>
        }

        @if (book.noGroup) {
            <button mat-menu-item (click)="setGroup(true)">
                <mat-icon>horizontal_split</mat-icon>
                <span>{{ t('book.group') }}</span>
            </button>
        } @else {
            <button mat-menu-item (click)="setGroup(false)">
                <mat-icon>group</mat-icon>
                <span>{{ t('book.ungroup') }}</span>
            </button>
        }

        <button mat-menu-item (click)="remove()">
            <mat-icon>delete_forever</mat-icon>
            <span>{{ t('book.remove') }}</span>
        </button>
    </mat-menu>
</div>
