<div
    class="m-1 flex h-52 w-36 cursor-pointer flex-col rounded-md bg-tertiary p-2 pb-0.5 transition duration-100"
    [ngClass]="{ '!bg-accent': $selectedBook()?.isbn === book.isbn }"
    *transloco="let t"
    (click)="openInfo(); scroll(card)"
    [attr.id]="'book-' + book.isbn"
    #card
>
    <div
        class="mb-2 flex-grow bg-contain bg-center bg-no-repeat"
        [lazyLoad]="coverUrl!"
        *ngIf="coverUrl !== null; else noimage"
    ></div>

    <ng-template #noimage>
        <app-no-image-placeholder class="h-full flex-grow object-contain">{{
            t('books.no-cover')
        }}</app-no-image-placeholder>
    </ng-template>
    <div class="flex-grow-0">
        <p class="!m-0 text-xs">
            {{ book.title }}
        </p>
    </div>
</div>
