/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    scrollbar-color: #424242 #2f2f2f !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

i {
    display: block !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
    .mdc-notched-outline__notch {
    border-right-style: hidden;
}
.mat-mdc-input-element {
    box-shadow: none !important;
}

mat-form-field {
    margin-bottom: 1.5rem;
}

.mat-expansion-panel-body {
    padding: 0 !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.mat-expansion-panel-header {
    height: var(--mat-expansion-header-collapsed-state-height) !important;
    padding: 0 !important;
    padding-left: 0.75rem !important;
    padding-right: 1rem !important;
}

.grecaptcha-badge {
    visibility: hidden;
}
