<ng-container *transloco="let t">
    <div class="flex h-full w-full items-center justify-center">
        <mat-card>
            <mat-card-content>
                <div class="p-8">
                    <h1>{{ t('signup-success.title') }}</h1>
                    <p
                        [innerHTML]="
                            t('signup-success.text', { email: $email() })
                        "
                    ></p>
                    <p>{{ t('signup-success.resend-text') }}</p>
                    <button
                        [disabled]="$resending()"
                        (click)="resend()"
                        color="primary"
                        class="mt-8"
                        mat-flat-button
                    >
                        {{ t('signup-success.resend') }}
                    </button>
                </div></mat-card-content
            >
            <mat-card-footer>
                @if ($resending()) {
                    <mat-progress-bar
                        mode="indeterminate"
                        class="rounded-xl"
                    ></mat-progress-bar>
                } @else {
                    <div class="mb-1"></div>
                }
            </mat-card-footer>
        </mat-card>
    </div>
</ng-container>
