<div class="pcontainer">
    <div class="p-inputgroup">
        <button
            type="button"
            pButton
            pRipple
            label="Create"
            (click)="createSession(nameInput.value)"
        ></button>
        <input
            #nameInput
            type="text"
            pInputText
            placeholder="Name"
            [minLength]="1"
        />
    </div>
    <p-table [value]="sessions">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-session>
            <tr>
                <td>{{ session.name || "no name" }}</td>
                <td>{{ session.createdAt | date }}</td>
                <td>
                    <button
                        pButton
                        type="button"
                        label="Delete"
                        class="p-button-danger"
                        (click)="deleteSession(session.id)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [modal]="true"
    [draggable]="false"
    [(visible)]="displayDialog"
    [style]="{ width: '50vw', height: '60vh' }"
>
    <div class="qr">
        <app-qr-dialog [data]="qrData"></app-qr-dialog>
    </div>
</p-dialog>
