div.pcontainer {
    padding-left: 10%;
    padding-right: 10%;

    margin-top: 1rem;
}

div.p-inputgroup {
    margin-bottom: 1rem;
}

.qr {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
