.groups {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
}

.p-card {
    margin-bottom: 1rem;
}

.info {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
