@if (group$ && group$ | async; as group) {
    <div *transloco="let t" class="m-0 mb-2 w-full">
        <mat-expansion-panel [expanded]="books.length > 1" class="w-full">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ group.name }} ({{ books.length }})
                </mat-panel-title>
                <mat-panel-description>
                    {{ t('book-groups.group') }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex flex-wrap">
                @for (book of books; track trackById(i, book); let i = $index) {
                    <app-book-card [book]="book"></app-book-card>
                }
            </div>
        </mat-expansion-panel>
    </div>
}
